@nice-red: #ce492b;
@grey: #f3f3f3;
@grey-link: #757575;
@black: #000;
@black-light: @black + #222;
@gray-icon: #757575;
@button-grey: #333333;
@white: #fff;
@light-red: @nice-red + #111;
@grey-light: @grey + #020202;

body {
	color: @gray-icon;
  float: right;
}

hr {  
	border-color: @black;
  max-width: 84px;
}

h3 {
 color: @black;
 text-transform: uppercase;
 padding-bottom: 10px;
}

h4 {
  color: @black;
  text-transform: uppercase;
}

nav {
	height: 70px;
}

#pre-header {
  background-color: @grey;
  height: 38px;
}

#contacts {
	float: right;
  line-height: 2.5;
  height: 38px;
  margin-bottom: 0px;
  li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #000000;
    font-size: 0.687em;
  }
  a {
    color: @grey-link;
  }
  @media screen {
    @media (max-width: 480px) {
      padding-left: 5px;
      padding-right: 5px;
    } 
  }
}

.navbar {
	margin-bottom: 0;
}

#navbar {
	background-color: @white;
	height: auto;
  padding-top: 10px;
  ul {
    text-transform: uppercase;
  }
  a {
    color: @black;
  }
  a:hover {
   background-color: @white;
   color: @nice-red;
  } 
 .active > a {
  background-color: @white;
  color: @nice-red;
  }
}

.carousel-inner img {
  width: 100%;
  margin: auto;
  min-height:200px;
}

#main-slider {
  height: 400px;
}

#main-features {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: @white;
  height: auto;
  width: 100%;
  .fa-circle {
  	color: @nice-red;
  }
}

.list-group {
	height: 50px;
  height: auto;
  width: 100%;
}

.button-red {
  background-color: @nice-red;
  border: none;
  color: @white;
  padding: 16px 32px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1em;
  transition: color 0.5s;
  transition: background-color 0.5s;
  margin: 10px 2px;
  cursor: pointer;
}

.button-black {
  background-color: @button-grey;
  border: none;
  color: @white;
  transition: color 0.5s;
  transition: background-color 0.5s;
}

.feature-icon {
	float: left;
	margin-right: 10px;
} 

#second-features {
	padding-top: 40px;
  padding-bottom: 30px;
  background-color: @nice-red;
  height: auto;
  width: 100%;
  i, p  {
  	color: @white;
    }h4 {
     color: @white;
     text-transform: uppercase;
  }
}

 .media  h4{
   padding-left: 10px;
 }

 #offer-block {
   padding-top: 30px;
   padding-bottom: 30px;
   background-color: @white;
   height: auto;
   width: 100%;
 }
 #offers .media:hover .icon-md {
  border-radius: 10px;
  background-color: @button-grey;
}
.icon-md {
  color: @white;
  margin-right: 10px;
  background-color: @nice-red;
  text-align: center;
  display: block;
  border-radius: 50%;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}
#team-block{
	padding-top: 30px;
  padding-bottom: 30px;
  background-color: @grey-light;
  height: auto;
  width: 100%;
}

.ic-soc {
  display: none;
  border-radius: 10%;
  box-shadow: 0px 0px 2px @gray-icon;
}

#bottom {
	padding-top: 50px;
  padding-bottom: 30px;
  background-color: @black-light;
  height: auto;
  width: 100%;
  h4 {
   color: @white;
  }
}

.btn-news {
  &:hover {
    color: @nice-red;
  }
}

#footer {
	padding-top: 5px;
	background-color: @black;
	height: 30px;
}

