@nice-blue: #5B83AD;
@nav-bg: red;
@pre-nav-bg: lightgrey;
@slider-bg: green;

@light-blue: @nice-blue + #111;

#pre-header {
  background-color: @pre-nav-bg;
}

#main-slider {
  background-color: @slider-bg;
  height: 400px;
}

#main-features {
  background-color: @nice-blue;
  height: 300px;
}

#navbar {
	background-color: @nice-blue;

}

nav {
	background-color: @nav-bg;
	height: 100px;
}

body {
	color: @light-blue;
}
.carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

.list-group {
	background-color: red;
	height: 50px;
	h4 {
		color: black;
		text-transform: uppercase;
	}
}

.feature-icon {
	float: left;
	margin-right: 10px;
}

 